* {
    font-family: Verdana, monospace;
}

h1, h2, h3 {
    text-align: center;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
    background-color: #ccffff;
}

table, tr, th, td {
    border: solid 1px;
    border-collapse: collapse;
}

.fake-table {
    position: relative;
    overflow: auto;
    width: 100%;
    height: 0;
}

img.item {
    width: 16px;
    right: 16px;
    vertical-align: middle;
    margin-right: 7px;
}

.new-dialog {
    min-height: 100px;
    min-width: 600px;
}

.new-dialog .main-pane {
}

.new-dialog .left-pane {
    display: inline-block;
    position: relative;
    float: left;
    width: 50%;
    min-height: 100px;
}

.new-dialog .right-pane {
    display: inline-block;
    position: relative;
    float: right;
    width: 50%;
    min-height: 100px;
}

.new-dialog .button-pane {
    display: inline-block;
    position: relative;
    width: 100%;
}

.new-dialog wired-button {
    margin: 10px;
    float: right;
}

.close-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

wired-spinner#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -40px;
    margin-left: -38px;
    z-index: 99;
}

wired-dialog {
    --wired-dialog-z-index: 1;
}

wired-dialog#error-dialog {
    --wired-dialog-z-index: 2;
}

p {
    padding: 5px;
}

.col-space {
    position:relative;
    height: 100%;
}

.col-filter {
    position: absolute;
    right: 1px;
    top: 1px;
}

img.col-icon {
    width: 16px;
    height: 16px;
    float: right;
}

.col-filter-pane {
    background: #ccc;
    min-width: 160px;
    text-align: right;
}

.col-filter-pane-item {
    padding: 4px;
}

.col-filter-hint {
    font-size: 8pt;
}

.clock {
    color: blue;
}

.clock-delimiter {
    animation: blinkingText 0.5s infinite;
}

@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

.map-container {
}
